{% extends "base.html" %}
{% block section %}


	<div class="col-md-8 ">
		<div class="row mb-1">
			<div class="col-md-10">
				<a href="{% url 'pari:hier' %}" type="button" class="btn btn-sm btn-outline-dark btn-rounded waves-effect"><i class="fa fa-angle-double-left"></i> Hier</a>
				<a href="{% url 'index' %}" type="button" class="btn btn-sm btn-outline-primary btn-rounded waves-effect"><i class="fa fa-angle-left"></i> Aujourd'hui <i class="fa fa-angle-right"></i></a>
				<a href="{% url 'pari:demain' %}" type="button" class="btn btn-sm btn-outline-dark btn-rounded waves-effect">Demain <i class="fa fa-angle-double-right"></i></a>
			</div>
		</div>
		<h2 class="text-center font-weight-bold text-danger mb-3 mt-2">Tous les Match de demain</h2>
		<div id="matchDemain">
		{% for res in result %}
		<table class="table table-striped">
		  <thead class="p-0">
		    <tr class="p-0">
		      <th scope="col" colspan="4" class="p-0 bg-primary text-center font-weight-bold"><h3>{{res.ctgo}}</h3></th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for mch in res.match%}
		  	<tr class="p-0">
		  	

			  	{% if "Pariez" in mch.time %}
			    	<td class="p-0 pl-2">{{mch.heure}}</span></td>
			    {% elif "Annulé" in mch.time %}
			    	<td class="text-danger p-0 pl-2">{{mch.heure}} Annlué</td>
			    {% elif "Terminé" in mch.time %}
			    	<td class="text-default p-0 pl-2">{{mch.heure}} Terminé</td>
			    {% elif "Après" in mch.time %}
			    	<td class="text-default p-0 pl-2">{{mch.heure}} Après TAB</td>
			    {% elif "Reporté" in mch.time %}
			    	<td class="p-0 pl-2">{{mch.heure}} Reporté</td>
			    {% elif "En attente" in mch.time %}
			    	<td class="p-0 pl-2">{{mch.heure}} En attente</td>
			    {% else %}
			    	<td class="p-0 pl-2">{{mch.heure}}</td>
			    {% endif %}

		    

		      <td class="p-0 text-right pr-2 m-0">{{mch.eqa}}</td>
		      <td class="p-0 text-center">
		    		<a href="#"><span class="badge badge-primary">V.1</span></a>
		    		<a href="#"><span class="badge badge-dark">NULL</span></a>
		    		<a href="#"><span class="badge badge-primary">V.2</span></a>
		      </td>
		      <td class="p-0 m-0 text-left">{{mch.eqb}}</td>
		    </tr>
		    {% empty %}
		    	<tr>
		    		<td><h4>PAS DE PARI POUR CETTE CATEGORIE</h4></td>
		    	</tr>
		    {% endfor %}
		  </tbody>
		</table>	
			{% endfor %}
		</div>
	</div>




{% endblock%}
{% block js %}

<script type="text/javascript">
	$(function () {
		function bis(){
			$('#matchDemain').load("{% url 'pari:demain' %} #matchDemain");
		}
		setInterval(bis, 3000);
	});

</script>

{% endblock %}