{% extends "base.html" %}

{% block section %}

<!-- Section: Blog v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Les Sites de pari les plus populaires</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row mb-5">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img id="imagelanding" class="img-fluid " src="https://operator-front-static-cdn.winamax.fr/img/content/betting/2019/20190222_landingtest/20190222_clubs_partenaires_480x250_V3.jpg">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Winamax</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus voluptas.</p>
      <!-- Read more button -->
      <a href="https://www.winamax.fr/" class="btn btn-pink btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
       <img class="img-fluid " src="https://media2.giphy.com/media/S1TlUYxzpycTu/giphy.gif">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Bet365</strong></h4>
     
      <!-- Excerpt -->
      <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        voluptatum deleniti atque corrupti quos dolores.</p>
      <!-- Read more button -->
      <a class="btn btn-deep-orange btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
         <a ><img class="img-fluid " src="https://image.noelshack.com/fichiers/2018/03/5/1516377316-433-bs-new-season-always-on-banners-fr-450x250-02.gif"></a>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>BetStars</strong></h4>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
        quia consequuntur magni dolores eos qui ratione.</p>
      <!-- Read more button -->
      <a  class="btn btn-info btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->


  <div class="row mt-4">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid " src="https://bif-prono.com/wp-content/uploads/2018/09/logo-unibet-300x250.gif">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>U N I B E T</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus voluptas.</p>
      <!-- Read more button -->
      <a class="btn btn-pink btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
       <img class="img-fluid " src="https://www.betcomparative.com/images/betclic-fr-250x250.gif">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>BetClic</strong></h4>
     
      <!-- Excerpt -->
      <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        voluptatum deleniti atque corrupti quos dolores.</p>
      <!-- Read more button -->
      <a class="btn btn-deep-orange btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
         
          <img class="img-fluid mb-1" src="http://www.casinospreferes.com/wp-content/uploads/2018/11/de33f18d2cfe0abc5cbca3c86b4cc45e_screen.jpg">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>1XBET</strong></h4>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
        quia consequuntur magni dolores eos qui ratione.</p>
      <!-- Read more button -->
      <a class="btn btn-info btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->


    <div class="row mt-4">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
       <a ><img class="img-fluid " src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/3b/1c/ef/3b1cef7e-7843-444e-5532-2af6e180a260/source/512x512bb.jpg"></a>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>SportCash</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus voluptas.</p>
      <!-- Read more button -->
      <a href="https://www.sportcash.net/" class="btn btn-pink btn-rounded btn-md">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.2 -->
{% block pub %}
{% endblock %}

{% endblock %}